body{
    background-color: #212121;    
    font-family: 'Roboto', sans-serif;

}


.navbar-nav{
    padding-top: 30px;
    margin-left: auto;
}
.navbar-brand{
    font-size: 28px;
    font-weight: bold;
}

.navbar-containver{
    padding-left: 24px;
    padding-right: 19px;

}

.hero {
    background-image: url(../images/bg.png);
    background-size: contain;
    height: 1200px;
    width: 100%;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}


.hero-text{
    padding-top: 380px;
    text-align: center;
    color: white;
}

.hero-text .artist-name{
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 5px;
    letter-spacing: 6px;
}

.hero-text h1{
    font-size: 90px;
    letter-spacing: 6px;
    padding-bottom: 30px;

}

.hero-text p{
    font-size: 22px;
    font-weight: 300;
    padding-bottom: 66px;
   
}



.hero-text a {
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    padding: 20px 64px;
    border-radius: 30px ;
    text-decoration: none;
    letter-spacing: 3px;
    color: black;
}

.first-row, .second-row, .third-row, .fourth-row{
    width: 100%;
    height: 100%;

}

.row-one, .row-two, .row-three, .row-four {
padding: 14px;
box-sizing: content-box;
}

.row-one{
    padding-top: 90px;
}

.footer{    
    padding-top: 18px;
    color: white;
 text-align: center;
}


.footer-background{
    background-color: #282323;
    padding: 24px;
   
}
 
.artist-name-footer{
font-size: 30px;
color: white;
font-weight: bold;
line-height: 20px;
}

.fa-brands {
    padding-left: 10px;
    padding-right: 10px;

}

.woman-img-about{
    width: 750px;
}


@media (max-width: 1199px){
    .container-body {
        margin-left: 200px;
        margin-right: 200px;
    }


 
.artist-name-footer{
font-size: 24px;
color: white;
font-weight: bold;
line-height: 24px;
}

.row-one, .row-two, .row-three, .row-four {
    padding: 10px;
    }

.row-one{
        padding-top: 74px;
    }

}



@media (max-width: 1023px){
    .container-body {
        margin-left: 100px;
        margin-right: 100px;
    }
    .hero {
        background-image: url(../images/bg.png);
        background-size: contain;
        height: 800px;
        width: 100%;
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover; 
      
    }
    .navbar-brand{
        font-size: 24px;
        font-weight: bold;
    }
    
    .hero-text{
        padding-top: 240px;
        text-align: center;
        color: white;
    }
    
    .hero-text .artist-name{
        font-size: 24px;
        font-weight: bold;
        padding-bottom: 5px;
        letter-spacing: 6px;
    }
    
    .hero-text h1{
        font-size: 72px;
        letter-spacing: 6px;
        padding-bottom: 8px;
    
    }
    
    .hero-text p{
        font-size: 18px;
        padding-bottom: 35px;
       
    }
    
    
    .hero-text a {
        font-size: 14px;
        font-weight: bold;
        background-color: rgb(255, 255, 255);
        padding: 22px 38px;
        border-radius: 30px ;
        text-decoration: none;
        color: black;
    }
    

.first-row, .second-row, .third-row, .fourth-row{
    width: 100%;
}


.row-one, .row-two, .row-three, .row-four {
    padding: 8px;

    }

    .row-one{
        padding-top: 68px;
    }



 
.artist-name-footer{
font-size: 24px;
color: white;
font-weight: bold;
line-height: 24px;
}



}


@media (max-width: 767px){
    .container-body {
        margin-left: 0px;
        margin-right: 0px;
    }


.hero {
    background-image: url(../images/bg.png);
    background-size: contain;
    height: 600px;
    width: 100%;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
  
}
.navbar-brand{
    font-size: 20px;
    font-weight: bold;
}

.hero-text{
    padding-top: 176px;
    text-align: center;
    color: white;
}

.hero-text .artist-name{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 0px;
    letter-spacing: 6px;
}

.hero-text h1{
    font-size: 52px;
    letter-spacing: 6px;
    padding-bottom: 0px;

}

.hero-text p{
    font-size: 14px;
    padding-bottom: 26px;
   
}


.hero-text a {
    font-size: 12px;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    padding: 16px 36px;
    border-radius: 30px ;
    text-decoration: none;
    color: black;
}

.first-row, .second-row, .third-row, .fourth-row{
    width: 100%;
}


.row-one, .row-two, .row-three, .row-four {
    padding: 6px;
    }
    
    .row-one{
        padding-top: 54px;
    }



 
.artist-name-footer{
font-size: 20px;
color: white;
font-weight: bold;
line-height: 24px;
}

.copyrights{
    font-size: 12px;
}

}


@media (max-width: 500px){
    .container-body {
        margin-left: 0px;
        margin-right: 0px;
    }
.navbar-containver{
    margin-left: 16px;
    margin-right: 16px;

}

.hero {
    background-image: url(../images/bg.png);
    background-size: contain;
    height: 600px;
    width: 100%;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
  
}
.navbar-brand{
    font-size: 18px;
    font-weight: bold;
}

.hero-text{
    padding-top: 179px;
    text-align: center;
    color: white;
}

.hero-text .artist-name{
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 9px;
    letter-spacing: 6px;
}

.hero-text h1{
    font-size: 36px;
    letter-spacing: 6px;
    padding-bottom: 8px;

}

.hero-text p{
    font-size: 14px;
    padding-bottom: 26px;
   
}


.hero-text a {
    font-size: 12px;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    padding: 18px 36px;
    border-radius: 30px ;
    text-decoration: none;
    color: black;
}

.first-row, .second-row, .third-row, .fourth-row{
    width: 100%;
}


.row-one, .row-two, .row-three, .row-four {
    padding: 4px
    
    }
    .row-one{
        padding-top: 44px;
    }
    

 
.artist-name-footer{
font-size: 16px;
color: white;
font-weight: bold;
line-height: 24px;
}

.copyrights{
    font-size: 12px;
}

}


