body{
    background-color: #212121;    
    font-family: 'Roboto', sans-serif;

}



.navbar-nav{
    padding-top: 0px;
    margin-left: auto;
}
.navbar-brand{
    font-size: 28px;
    font-weight: bold;
}

.navbar-containver{
    padding-left: 24px;
    padding-right: 19px;
    padding-top: 20px;
    padding-bottom: 10px;

}

.hero {
    background-image: url(../images/bg.png);
    background-size: contain;
    height: 1000px;
    width: 100%;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}


.hero-text{
    padding-top: 268px;
    text-align: center;
    color: white;
}

.hero-text .artist-name{
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 5px;
    letter-spacing: 6px;
}

.hero-text h1{
    font-size: 90px;
    letter-spacing: 6px;
    padding-bottom: 30px;

}

.hero-text p{
    font-size: 22px;
    font-weight: 300;
    padding-bottom: 66px;
   
}



.hero-text a {
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    padding: 20px 64px;
    border-radius: 30px ;
    text-decoration: none;
    letter-spacing: 3px;
    color: black;
}

.first-row, .second-row, .third-row, .fourth-row{
    width: 100%;
    height: 100%;

}

.row-one, .row-two, .row-three, .row-four {
padding: 14px;
box-sizing: content-box;
}

.row-one{
    padding-top: 90px;
}



.footer-background{
    background-color: #282323;
    padding: 24px;
       color: white;

}

.flex-container {
    display: flex;
    padding-top: 30px;     
    justify-content: space-evenly;
    text-align: center;
  
  }

 
.artist-name-footer a{
font-size: 30px;
color: white;
font-weight: bold;
line-height: 20px;
text-decoration: none;
}

.artist-name-footer a:hover{
    font-size: 30px;
    color: white;
    font-weight: bold;
    line-height: 20px;
    text-decoration: none;
    }

.home-icon {
    padding-left: 10px;
    padding-right: 10px;

}

.woman-img-about{
    width: 698px;
    padding-left: 10px;
}

.about-container{
    padding-top: 20px;
}

.about-me-title, .contact-info-title{
    color:#F65282 ;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
    letter-spacing: 3px;
}
.about-me-h1 {
    color: white;
    font-size: 64px;
    letter-spacing: 6px;
    padding-bottom: 20px;

}

.gallery-h1, .contact-h1{
    text-align: center;
    color: white;
    font-size: 72px;
    letter-spacing: 6px;
    padding-bottom: 0px;
    padding-top: 40PX;
}

.about-me-paragraph{
color: white;
font-weight: 300;
font-size: 20px;
padding-bottom: 30px;

}

.about-icon{
    color: white;
    padding-right: 20px;
    font-size: 20px;
    padding-bottom: 66px;
}

.about-col-background{
    background-color: #1B1B1B;
    padding-left: 40px;
    padding-right: 40px;

}
.about-camera{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.camera-img{
    display: inline-block;
    width: 96px;
    padding-right: 20px;
    padding-left: 24px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.about-page-gallery{
    padding-bottom: 80px;
    background-color: #1B1B1B;
}


.camera-img-backgroung{
    background-color: #2D2727
    ;
    width: 438px;
    border-radius: 5px;
    margin-bottom: 80px;
    padding-top: 12px;
    padding-bottom: 12px;

}

.gallery-container{
    background-color: #1B1B1B;
    padding-bottom: 70px;
    
}

.contact-background{
    background-color: #1B1B1B;
    padding-bottom: 130px;
}

.about-hero-container{
    background-color:  #202020;

}

.contact-button{
    color: black ;
    background-color: white;
    padding: 20px 64px;
    text-decoration: none;
    border-radius: 40px;
    font-weight: bold;

}


.contact-button:hover{
    color: black ;
    background-color: white;
    padding: 20px 64px;
    text-decoration: none;
    border-radius: 40px;
    font-weight: bold;

}
.contact-info{
    color: white;
    text-align: center;
    padding-top: 140px;
}

@media (max-width: 1399px){
    .woman-img-about{
        margin-top: 14px;
        padding-top: 20px;
        width: 720px;
        padding-right: 180px;
    }

 
    .about-me-title, .contact-info-title{
        color:#F65282 ;
        font-weight: bold;
        font-size: 20px;
        padding-bottom: 10px;
        letter-spacing: 3px;
    }
    .about-me-h1 {
        color: white;
        font-size: 50px;
        letter-spacing: 6px;
        padding-bottom: 20px;
    
    }
    
    .gallery-h1, .contact-h1{
        text-align: center;
        color: white;
        font-size: 72px;
        letter-spacing: 6px;
        padding-bottom: 0px;
        padding-top: 40px;
    }
    
    .about-me-paragraph{
    color: white;
    font-weight: 300;
    font-size: 16px;
    padding-bottom: 18px;
    
    }
    
    .about-icon{
        color: white;
        padding-right: 20px;
        font-size: 20px;
        padding-bottom: 36px;
    }
    
    .about-col-background{
        background-color: #1B1B1B;
        padding-left: 40px;
        padding-right: 40px;
    
    }
    .about-camera{
        color: white;
        font-size: 16px;
        font-weight: bold;
    }
    .camera-img{
        display: inline-block;
        width: 96px;
        padding-right: 20px;
        padding-left: 24px;
        padding-top: 20px;
        padding-bottom: 20px;
    
    }
    
    .about-page-gallery{
        padding-bottom: 80px;
        background-color: #1B1B1B;
    }
    
    
    .camera-img-backgroung{
        background-color: #2D2727
        ;
        width: 394px;
        border-radius: 5px;
        margin-bottom: 54px;
        padding-top: 12px;
        padding-bottom: 8px;
    
    }
    .contact-button{
        color: black ;
        background-color: white;
        padding: 16px 58px;
        text-decoration: none;
        border-radius: 40px;
        font-weight: bold;
    
    }
    
    
    .contact-button:hover{
        color: black ;
        background-color: white;
        padding: 20px 64px;
        text-decoration: none;
        border-radius: 40px;
        font-weight: bold;
    
    }

    .gallery-h1, .contact-h1{
        font-size: 69px;
    }

}

@media (max-width: 1199px){
    .container-body {
        margin-left: 200px;
        margin-right: 200px;
    }

    .hero {
        background-image: url(../images/bg.png);
        background-size: contain;
        height: 940px;
        width: 100%;
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover; 
    }


.hero-text h1{
    font-size: 90px;
    letter-spacing: 6px;
    padding-bottom: 10px;

}
    
    
    .hero-text{
        padding-top: 268px;
        text-align: center;
        color: white;
    }
    
    .hero-text .artist-name{
        font-size: 32px;
        font-weight: bold;
        padding-bottom: 5px;
        letter-spacing: 6px;
    }
 
.artist-name-footer a{
font-size: 24px;
color: white;
font-weight: bold;
line-height: 24px;
text-decoration: none;
}

.artist-name-footer a:hover{
    font-size: 24px;
    color: white;
    font-weight: bold;
    line-height: 24px;
    text-decoration: none;
    }

.row-one, .row-two, .row-three, .row-four {
    padding: 10px;
    }

.row-one{
        padding-top: 74px;
    }
    
    .woman-img-about{
        margin-top: 16px;
        padding-top: 40px;
        width: 780px;
        padding-right: 300px;
    }


    .about-container{
        padding-top: 14px;
    }
    
    .about-me-title, .contact-info-title{
        color:#F65282 ;
        font-weight: bold;
        font-size: 20px;
        padding-bottom: 06px;
        letter-spacing: 3px;
    }
    .about-me-h1 {
        color: white;
        font-size: 45px;
        letter-spacing: 6px;
        padding-bottom: 12px;
    
    }
    
    .gallery-h1, .contact-h1{
        text-align: center;
        color: white;
        font-size: 72px;
        letter-spacing: 6px;
        padding-bottom: 0px;
        padding-top: 40px;
    }
    
    .about-me-paragraph{
    color: white;
    font-weight: 300;
    font-size: 14px;
    padding-bottom: 18px;
    
    }
    
    .about-icon{
        color: white;
        padding-right: 20px;
        font-size: 20px;
        padding-bottom: 24px;
    }
    
    .about-col-background{
        background-color: #1B1B1B;
        padding-left: 40px;
        padding-right: 40px;
    
    }
    .about-camera{
        color: white;
        font-size: 14px;
        font-weight: bold;
    }
    .camera-img{
        display: inline-block;
        width: 94px;
        padding-right: 18px;
        padding-left: 24px;
        padding-top: 20px;
        padding-bottom: 20px;
    
    }
    
    .about-page-gallery{
        padding-bottom: 40px;
        background-color: #1B1B1B;
    }
    
    
    .camera-img-backgroung{
        background-color: #2D2727;
        width: 358px;
        border-radius: 5px;
        margin-bottom: 48px;
        padding-top: 6px;
        padding-bottom: 6px;
    
    }
    .contact-button{
        color: black ;
        background-color: white;
        padding: 16px 58px;
        text-decoration: none;
        border-radius: 40px;
        font-weight: bold;
    
    }
    
    
    .contact-button:hover{
        color: black ;
        background-color: white;
        padding: 20px 64px;
        text-decoration: none;
        border-radius: 40px;
        font-weight: bold;
    
    }

    .gallery-container{
        background-color: #202020;
        padding-bottom: 105px;
        
    }

    .about-col-background{
        height: 580px;
    }

    .gallery-h1, .contact-h1{
        font-size: 62px;
    }

    .contact-info{
        color: white;
        text-align: center;
        padding-top: 140px;
        padding-bottom: 20px;
    }

}



@media (max-width: 1023px){
    .container-body {
        margin-left: 100px;
        margin-right: 100px;
    }
    .hero {
        background-image: url(../images/bg.png);
        background-size: contain;
        height: 800px;
        width: 100%;
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover; 
      
    }
    .navbar-brand{
        font-size: 24px;
        font-weight: bold;
    }
    
    .hero-text{
        padding-top: 240px;
        text-align: center;
        color: white;
    }
    
    .hero-text .artist-name{
        font-size: 24px;
        font-weight: bold;
        padding-bottom: 5px;
        letter-spacing: 6px;
    }
    
    .hero-text h1{
        font-size: 72px;
        letter-spacing: 6px;
        padding-bottom: 8px;
    
    }
    
    .hero-text p{
        font-size: 18px;
        padding-bottom: 35px;
       
    }
    
    
    .hero-text a {
        font-size: 14px;
        font-weight: bold;
        background-color: rgb(255, 255, 255);
        padding: 22px 38px;
        border-radius: 30px ;
        text-decoration: none;
        color: black;
    }
    

.first-row, .second-row, .third-row, .fourth-row{
    width: 100%;
}


.row-one, .row-two, .row-three, .row-four {
    padding: 8px;

    }

    .row-one{
        padding-top: 68px;
    }



 
.artist-name-footer a{
font-size: 24px;
color: white;
font-weight: bold;
line-height: 24px;
text-decoration: none;
}


.artist-name-footer a:hover{
    font-size: 24px;
    color: white;
    font-weight: bold;
    line-height: 24px;
    text-decoration: none;
    }

.about-hero-container{
    padding-bottom: 0px;
}

.about-page-gallery{
    padding-bottom: 20px;
}

.gallery-h1, .contact-h1{
    font-size: 56px;
}
}



@media (max-width: 767px){
    .container-body {
        margin-left: 0px;
        margin-right: 0px;
    }


.hero {
    background-image: url(../images/bg.png);
    background-size: contain;
    height: 600px;
    width: 100%;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
  
}
.navbar-brand{
    font-size: 20px;
    font-weight: bold;
}

.hero-text{
    padding-top: 176px;
    text-align: center;
    color: white;
}

.hero-text .artist-name{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 0px;
    letter-spacing: 6px;
}

.hero-text h1{
    font-size: 52px;
    letter-spacing: 6px;
    padding-bottom: 0px;

}

.hero-text p{
    font-size: 14px;
    padding-bottom: 26px;
   
}


.hero-text a {
    font-size: 12px;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    padding: 16px 36px;
    border-radius: 30px ;
    text-decoration: none;
    color: black;
}

.first-row, .second-row, .third-row, .fourth-row{
    width: 100%;
}


.row-one, .row-two, .row-three, .row-four {
    padding: 6px;
    }
    
    .row-one{
        padding-top: 54px;
    }



 
.artist-name-footer a{
font-size: 20px;
color: white;
font-weight: bold;
line-height: 24px;
text-decoration: none;
}
 
.artist-name-footer a:hover{
    font-size: 20px;
    color: white;
    font-weight: bold;
    line-height: 24px;
    text-decoration: none;
    }

.copyrights{
    font-size: 12px;
}

.gallery-container{
    background-color: #202020;
    padding-bottom: 124px;
    
}

.about-col-background{
    height: 580px;
}

.gallery-h1, .contact-h1{
    font-size: 48px;
}

.contact-info{
    color: white;
    text-align: center;
    padding-top: 140px;
    padding-bottom: 40px;
}



}


@media (max-width: 500px){
    .container-body {
        margin-left: 0px;
        margin-right: 0px;
    }
.navbar-containver{
    margin-left: 16px;
    margin-right: 16px;

}

.hero {
    background-image: url(../images/bg.png);
    background-size: contain;
    height: 600px;
    width: 100%;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
  
}
.navbar-brand{
    font-size: 18px;
    font-weight: bold;
}

.hero-text{
    padding-top: 179px;
    text-align: center;
    color: white;
}

.hero-text .artist-name{
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 9px;
    letter-spacing: 6px;
}

.hero-text h1{
    font-size: 36px;
    letter-spacing: 6px;
    padding-bottom: 8px;

}

.hero-text p{
    font-size: 14px;
    padding-bottom: 26px;
   
}


.hero-text a {
    font-size: 12px;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    padding: 18px 36px;
    border-radius: 30px ;
    text-decoration: none;
    color: black;
}

.first-row, .second-row, .third-row, .fourth-row{
    width: 100%;
}


.row-one, .row-two, .row-three, .row-four {
    padding: 4px
    
    }
    .row-one{
        padding-top: 44px;
    }
    

 
.artist-name-footer a{
font-size: 16px;
color: white;
font-weight: bold;
line-height: 24px;
text-decoration: none;
}

 
.artist-name-footer a:hover{
    font-size: 16px;
    color: white;
    font-weight: bold;
    line-height: 24px;
    text-decoration: none;
    }
    

.copyrights{
    font-size: 12px;
}


.gallery-container{
    background-color: #202020;
    padding-bottom: 124px;
    
}

.about-col-background{
    height: 580px;
}

.gallery-h1, .contact-h1{
    font-size: 40px;
}

.contact-info{
    color: white;
    text-align: center;
    padding-top: 140px;
    padding-bottom: 44px;
}

}


